html, body {
	font-family: Helvetica;
	font-size: 100;
	height: 100%;
	margin:0;
  padding:0;
	background:#4577C7;
	color: white;
}
h1 {
	text-align: center;
}

#title {
	text-align: center;
}

#createButton {
	color: #FFF;
  font-size: 2em;
  text-decoration: none;
  display: block;
	outline: white solid medium;
	width: 220px;
	text-align: center;
	position: absolute;
}

#createButton:hover {
	background-color: white;
	color: #4577C7;
}

#button {
	text-align: center;
}

#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:120px;   /* Height of the footer */
	 clear:both;
 	 text-align: center;
   margin: auto;
}

.icon, #nav {
	color: black;
}

.icon h2:hover {
	color: #6cf;
}

a:link {
	text-decoration: none;
}

#nav h1:hover {
	color: white;
}

#me {
	float:left;
}
